# Libraries
library(knitr)
library(magrittr)

### Test resulting probabilities
# MIND
P1m=0.12 # Fit percentage with the EXTRAVERTED characteristic
# ENERGY
P2e=0.53 # Fit percentage with the INTUITIVE characteristic
# NATURE
P3n=0.69 # Fit percentage with the THINKING characteristic
# TACTICS
P4t=0.60 # Fit percentage with the JUDGING characteristic

### Building data frame
P1=c(rep(P1m,8),rep(1-P1m,8))
P2=c(rep(P2e,4),rep(1-P2e,4));P2=rep(P2,2)
P3=c(rep(P3n,2),rep(1-P3n,2));P3=rep(P3,4)
P4=c(rep(P4t,1),rep(1-P4t,1));P4=rep(P4,8)
p1=c(rep("E",8),rep("I",8))                 # E for EXTRAVERTED, I for INTROVERTED
p2=c(rep("N",4),rep("S",4));p2=rep(p2,2)    # N for INTUITIVE,   S for OBSERVANT
p3=c(rep("T",2),rep("F",2));p3=rep(p3,4)    # T for THINKING,    F for FEELING
p4=c(rep("J",1),rep("P",1));p4=rep(p4,8)    # J for JUDGING,     P for PROSPECTING
# Data format
M=data.frame("Mind"=P1,"Energy"=P2,"Nature"=P3,"Tactics"=P4,"1C"=p1,"2C"=p2,"3C"=p3,"4C"=p4)
# Creating the 4-letter codes that identify 'unique' personalities
M$Code=paste(M$X1C,M$X2C,M$X3C,M$X4C,sep="")
# Substituting codes for their personality names
M$Code=ifelse(M$Code=="INTP","Logician",M$Code)
M$Code=ifelse(M$Code=="ISTP","Virtuoso",M$Code)
M$Code=ifelse(M$Code=="INTJ","Architect",M$Code)
M$Code=ifelse(M$Code=="ISTJ","Logistician",M$Code)
M$Code=ifelse(M$Code=="ENTP","Debater",M$Code)
M$Code=ifelse(M$Code=="ESTP","Entrepreneur",M$Code)
M$Code=ifelse(M$Code=="ENTJ","Commander",M$Code)
M$Code=ifelse(M$Code=="ESTJ","Executive",M$Code)
M$Code=ifelse(M$Code=="INFP","Mediator",M$Code)
M$Code=ifelse(M$Code=="ISFP","Aventurer",M$Code)
M$Code=ifelse(M$Code=="INFJ","Advocate",M$Code)
M$Code=ifelse(M$Code=="ISFJ","Defender",M$Code)
M$Code=ifelse(M$Code=="ENFP","Campaigner",M$Code)
M$Code=ifelse(M$Code=="ESFP","Entertainer",M$Code)
M$Code=ifelse(M$Code=="ENFJ","Protagonist",M$Code)
M$Code=ifelse(M$Code=="ESFJ","Consul",M$Code)
# Multiplying independent probabilities
M$Probability=M$Mind*M$Energy*M$Nature*M$Tactics

data=M[order(M$Probability,decreasing=1),]
data[,9:10] %>% kable(col.names=c("Personality","Probability"))
